<div class="m-3">
  <h1>Edit Task</h1>
  <%= form_with model: @task do |f| %>
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.label :details, class: "form-label" %>
    <%= f.text_area :details, class: "form-control" %>
    <%= f.check_box :completed %>
    <%= f.label :completed, "Mark as completed" %>
    <br>
    <%= f.submit class: "btn btn-primary mt-2" %>
  <% end %>
  <hr>
  <%= link_to "Back to list", tasks_path %>
</div>
